bertopic==0.17.4
emoji==2.15.0
fugashi==1.5.2
unidic-lite==1.0.8
numpy==2.4.4
pandas==3.0.2
plotly==6.7.0
scikit-learn==1.8.0
hdbscan==0.8.43
sentence-transformers==5.5.0
torch==2.11.0+cu130
transformers==5.8.0
umap-learn==0.5.12
accelerate==1.13.0
pyyaml==6.0.3
huggingface-hub==1.14.0
